<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 help-block"></div>
		<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
			<div class="jumbotron text-center">
				<i class="fa fa-gear fa-spin fa-5x"></i>
				<p class="lead">em construção...</p>
				<div class="row">
					<div class="col-lg-6">
						<a class="btn" ng-href="https://github.com/jeanpsv" target="_blank">
							<i class="fa fa-github fa-3x"></i>
						</a>
					</div>
					<div class="col-lg-6">
						<a class="btn" ng-href="https://br.linkedin.com/in/jean-vasconcelos-823247103" target="_blank">
							<i class="fa fa-linkedin fa-3x"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>